
<div class="masterContent">
    <h1 class="title-content">Login</h1>
    <div class="form">
        <form action="/" method="post">
       <span> User Name : </span>
        <input type="text" name="userName" placeholder="Please Enter Your Username ...">
       <span> Password : </span>
        <input type="password" name="password" placeholder="Please Enter Your Password ...">
        <input type="submit" value="Login" style="margin-top:5%;width:30%" class="btn-approve">
        </form>
    </div>
    <div class="data-content">
</div>